@charset "UTF-8";

html, body {
	max-height: 100%;
	margin: 0;
	padding: 0;
}

.pusher .ui.menu .ui.button {
	margin-left: 0.5em;
}

.hidden.menu {
	display: none;
}

.pointing.menu .toc.item {
	display: none;
}

@media only screen and (max-width: 700px) {
	.ui.fixed.menu {
		display: none !important;
	}
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
}